In [1]:
import pandas as pd

In [2]:
file = "SDCCD-Prop-S-N-Closeout-Checklist.xlsx"

In [3]:
file_df = pd.read_excel(file)
file_df.head(5)

,P,Campus,Proj #,FUSION #,Project Description,DSA,DSA_Count,LEED,LEED_Count,GIS,...,Unnamed: 49,Construction Complete?,Date Construction Complete,Unnamed: 52,S - Ballot Reference #,N - Ballot Reference #,On Both Ballots,Unnamed: 56,Unnamed: 57,Proj #.1
NaN,N,City,11110,NaN,Humanities Building,Yes,1,TBD,1,TBD,...,1.0,Yes,Apr-14 A,1.0,S.I.2,N.II.1,x,NaN,NaN,11110
NaN,N,City,11240,NaN,Business Technology Building,Yes,1,TBD,1,TBD,...,1.0,Yes,Apr-14 A,1.0,S.I.3,N.I.3,x,NaN,NaN,11240
NaN,N,City,11250,NaN,"Engineering Technology Building (""T"" Building)",No,1,TBD,1,TBD,...,0.0,Design/Bid,Jul-18,NaN,S.I.1,N.I.2,x,NaN,NaN,11250
NaN,N,City,11260,NaN,Science Building,No,1,TBD,1,TBD,...,1.0,Yes,Aug-13 A,1.0,S.IV (?),N.I.1,x,NaN,NaN,11260
NaN,N,City,11310,NaN,"""M"" Classroom Building",Yes,1,Yes,1,TBD,...,1.0,Yes,Nov-14 A,1.0,S.IV.1,N.III.3,x,NaN,NaN,11310

In [4]:
file_df.to_csv("SDCCD-Program-Close-Data.csv", index=False, header=True)